<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>Contact with the developer</h3>
      <img src="https://avatars3.githubusercontent.com/u/26961285?s=400&u=08a1b8779d83c88527d257922bbf4229935188d2&v=4"/>
      <address>
        <strong>Facebook: </strong><a href="https://www.facebook.com/deivid.mladenov.1">Deivid Mladenov</a>
        <br />
        <br />
        <strong>GitHub: </strong><a href="https://github.com/deivid7007">deivid7007</a>
        <br />
        <br />
        <strong>Personal email: </strong><a href="mailto:7deividmladenov007@gmail.com">7deividmladenov007@gmail.com</a>
    </address>
    <address>
      <strong>Support: </strong><a href="mailto:Srednogortsi@gmail.com">Srednogortsi@gmail.com</a><br />
  </address>
</div>
</div>
</div>