<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>About</h2>
            <br/>
            <img src="http://aemstatic-ww1.azureedge.net/content/pnec/en/register/_jcr_content/leftcolumn/columnsbootstrap/row_0col_0/announcement_942280352/incontent.img.jpg/1524358170639.jpg"
            />
            <br/>
            <br/>
            <h3>
                <p>
                    This site is made for easy trading of items. It's target is especially Madan community. To use all functions inside,
                    you just need to register yourself.
                </p>
            </h3>
        </div>
    </div>
</div>